body {
    /* VARIABLES */
    /*Colors*/
    --cream: #E2E0C7;
    --text-black: #030303;
    --text-white: #FFFFFF;
    --yellow: #FBD725;
    --blue-light: #90B7BF;
    --blue-dark: #67A1BC;
    --red: #9F2123;

    /*Shadows*/
    --card-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.25);
    --card-blue-shadow: 0px 32px 50px 0px rgba(6, 63, 86, 0.5);
    --text-shadow: 0px 4px 8px rgba(6, 63, 86, 0.5);

    /*Font Sizes*/
    --f-base: 1rem;
    --f-u-1: 1.06rem;
    --f-u-2: 1.12rem;
    --f-u-3: 1.19rem;
    --f-u-4: 1.31rem;
    --f-u-5: 1.38rem;
    --f-u-6: 1.5rem;

    --f-d-1: 0.94rem;
    --f-d-2: 0.88rem;
    --f-d-3: 0.81rem;
}
.hero-banner{
    background-image: url(/assets/Banner_image.png);
    height: 500px;
    background-repeat: no-repeat;
    height: 484px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;
}
.hero-content > h1{
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(32px,4vw, 70px);
}
.hero-content > a{
    color:var(--text-white);
    background-color: black;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 800px;
    padding: 16px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 8px;
}
.home-testimonials{
    background-color: var(--yellow);
    padding: 16px;
    border-bottom:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-testimonials{
    display: flex;
    gap: 8px;
    background-color: black;
    border: 1px solid var(--red);
    color: var(--text-white);
    padding-right:8px;
    align-items: center;
}
.t-rating{
    background-color: var(--yellow);
    color: var(red);
    font-weight: 800px;
    padding-left: 8px;
    padding-right:8px;
    border-top-right-radius:16px ;
    border-bottom-right-radius:16px ;
    align-self: stretch;
    display: flex;
    align-items: center;
}
.t-author{
padding-top: 8px;
padding-bottom:8px ;
}